@charset "ISO-8859-1";
table {
 /* font-family: arial, sans-serif;*/
  font-family : monospace;
  border-collapse: collapse;
  border-color: appworkspace;
  width: 100%;
  border: 2px
}

 th {
  border: 1px solid #dddddd;
 /* border: 1px solid forestgreen;*/
  text-align: center;
  padding: 8px;
  background-color: green; 
}
td {
  border: 1px solid #dddddd;
 /* border: 1px solid forestgreen;*/
  text-align: center;
  padding: 8px;
}



tr:nth-child(even) {
  /*background-color: #dddddd;*/
  background-color: lightcyan;
  color: blue;
}